*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
.DS_Store
/build
/captures
.idea/misc.xml
/activities/AlwaysOnWearActivity
/activities/AndroidTVActivity
/activities/BasicActivity
/activities/BlankWearActivity
/activities/BottomNavigationActivity
/activities/EmptyActivity
/activities/common
/activities/EmptyActivity
/activities/FullscreenActivity
/activities/GoogleAdMobAdsActivity
/activities/GoogleMapsActivity
/activities/GoogleMapsWearActivity
/activities/LoginActivity
/activities/MasterDetailFlow
/activities/NavigationDrawerActivity
/activities/ScrollActivity
/activities/SettingsActivity
/activities/TabbedActivity
BUILD
NOTICE
/gradle
/other
/gradle-projects/AndroidWearModule
/gradle-projects/ImportExistingProject
/gradle-projects/NewAndroidAutoProject
/gradle-projects/NewAndroidProject
/gradle-projects/NewAndroidTVModule
/gradle-projects/NewGlassModule
/gradle-projects/NewJavaLibrary